:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-editor {
  width: 500px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ddd;
  letter-spacing: 1px;  
}

.text-editor pre {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  padding-bottom: 20px;
}

.text-editor code {
  width: 100%;
}
.focused {
  /* outline: 3px solid #ddd;
   */
   border: 1px solid #000;
}

.cursor {
  width: 2px;
  background-color: black;
  /* animation: cursorAnimation 1s steps(10, start) infinite; */
}

.line {
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 100%;
  min-width: fit-content;
}


.line .line-content {
  margin: 0;
  padding: 0;
  min-height: 25px;
  width: fit-content;
  font-size: 14px;
}

.line-numbers {
  padding-left: 5px;
  padding-right: 5px;
}

.line-numbers .line-number {
  width: fit-content;
}

.active {
  background-color: #eee;
}

@keyframes cursorAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
