@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.codecrush-editor {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: var(--editor-theme-bg);
  letter-spacing: 1px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;

  & code {
    width: 100%;

    & .active {
      background-color: #d8dee910;
    }

    & .line {
      padding-top: 0.5px;
      padding-bottom: 0.5px;
      padding-right: 20px;

      box-sizing: border-box;
      width: 100%;
      min-width: fit-content;

      & .line-content {
        margin: 0;
        padding: 0;
        min-height: 25px;
        width: fit-content;
        font-size: 14px;
      }
    }
  }

  & pre::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  & pre::-webkit-scrollbar-track {
    background: var(--editor-theme-bg);
  }

  & pre::-webkit-scrollbar-thumb {
    background: var(--editor-editorLineNumber-foreground);
    border-radius: 20px;
  }

  & pre {
    width: 100%;
    height: calc(100% - 25px);
    overflow: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;

    & .selection {
      position: absolute;
      background-color: #ffffff20;
    }

    & .line-numbers {
      padding-left: 5px;
      padding-right: 5px;
      color: var(--editor-editorLineNumber-foreground);

      & .line-number {
        width: fit-content;
      }

      & .active {
        color: var(--editor-editorLineNumber-activeForeground);
      }
    }

    & .cursor {
      width: 2px;
      background-color: black;
      /* animation: cursor-blink 1.5s steps(2) infinite; */
    }

    & .autocompletion {
      position: absolute;
      background: var(--editorSuggestWidget-background);
      height: fit-content;
      max-height: 400px;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);

      & .autocompletion-result {
        border: none;
        text-align: left;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #ddd;
        background: none;
        display: flex;
        justify-content: space-between;

        & .owner {
          opacity: 0.5;
        }
      }

      & .active {
        border: none;
        text-align: left;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #ddd;
        background: var(--editorSuggestWidget-selectedBackground);
      }
    }
  }

  & .activity-bar {
    height: 25px;
    width: 100%;
    color: var(--activityBar-foreground);
    font-size: 14px;
    box-sizing: border-box;
    padding-right: 5px;
    padding-left: 5px;
    border-top: 1px solid var(--activityBar-foreground);
    background-color: var(--activityBar-background);

    & p {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }
}

.codecrush-editor-focused {
  border: 1px solid #000;
}
